<div class="inner-content">
    <div nz-row>
        <div nz-col [nzSpan]="24" [nzMd]="8">
            <h3 style="margin-bottom:24px; font-size: 24px; font-weight: bold;">ประวัติการเช็คสต็อกสินค้า</h3>
        </div>
        <div nz-col [nzSpan]="24" [nzMd]="16">
            <nz-range-picker *ngIf="isAccess" [(ngModel)]="dateRange" [nzFormat]="dateFormat"
                (ngModelChange)="fetchCheckStockHistory()">
            </nz-range-picker>
        </div>
    </div>

    <div class="app-content">
        <div nz-row>
            <div nz-col [nzSpan]="24" style="max-width: calc(100vw - 6rem);">

                <nz-table style="margin:20px 0px;" #basicTable nzBordered [nzData]="dataList" [nzShowPagination]="false"
                    [nzFrontPagination]="false" [nzLoading]="isLoading" [nzSize]="'middle'" [nzPageSize]="20">
                    <thead>
                        <tr>
                            <th id="date" [nzAlign]="'center'">วัน/เดือน/ปี</th>
                            <th id="trackingId" [nzAlign]="'center'"> Tracking ID</th>
                            <th id="lotId" [nzAlign]="'center'"> Lot ID</th>
                            <th id="name" [nzAlign]="'center'"> ชื่อสต็อกสินค้า </th>
                            <th id="empty" nzWidth="35%"></th>
                            <th id="contribute" [nzAlign]="'center'">ผู้ทำรายการ</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let data of basicTable.data ;let index = index">
                        <tr style="background-color: #4479a4;">
                            <td class="td-no-hover" [nzAlign]="'center'"
                                style="color:white ; padding:4px ; font-weight: bold;">
                                {{ mapDate(data?.date , 'date') }}</td>
                            <td class="td-no-hover" [nzAlign]="'center'" [colSpan]="24"></td>
                        </tr>
                        <tr *ngFor="let item of data.items;">
                            <td [nzAlign]="'center'"> {{ mapDate(item.createdAt , 'onlyTime') }} </td>
                            <td [nzAlign]="'center'"> {{ item.tracking }}</td>
                            <td [nzAlign]="'center'"> {{ item?.lot?.lot_number }}</td>
                            <td [nzAlign]="'center'"> {{ item?.stock?.name }}</td>
                            <td></td>
                            <td [nzAlign]="'center'"> {{ item?.user_created?.username }} </td>
                        </tr>

                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>