<div>
    <div nz-row>
        <div nz-col nzFlex="auto">header</div>
        <div nz-col nzFlex="450px" class="menu-right-wrapper">
            <div style="height: 80px;padding: 10px 20px;">
                <div nz-row [nzGutter]="20" style="height: 100%;">
                    <div nz-col nzFlex="60px" style="align-self: center;">
                        <img src="https://api.lorem.space/image/face?w=150&h=150"
                            className="c-avatar-img profile-xs c-sidebar-brand-full" style="
                            width: 60px;
                            height: 60px;
                            object-fit: contain;
                            border-radius: 82px;" />
                    </div>
                    <div nz-col nzFlex="auto" style="align-self: center;">
                        <span class="text-bold">Admin istrator</span>
                        <br/>
                        <span class="text-muted">Admin</span>
                    </div>
                </div>

            </div>
            <div style="padding:15px;">
                <h2 class="text-bold">รายการอาหาร</h2>
                <div class="order-detail">
                    <div class="button-group-wrapper">
                        <div class="group-content">
                            <div nz-row [nzGutter]="20" style="height: 100%;">
                                <div nz-col nzFlex="90px" style="align-self: center;"><img
                                        src="https://img.freepik.com/premium-photo/cup-coffee-textured-grey-background-lifestyle-photo-with-natural-light-minimalistic-style-with-cup-coffee-milk-foam_4740-5149.jpg?w=2000">
                                </div>
                                <div nz-col nzFlex="auto" class="text-start text-bold" style="align-self: center;">
                                    <div nz-row>
                                        <div nz-col [nzSpan]="24" class="product-name">Coffee</div>
                                    </div>
                                    <div nz-row [nzGutter]="10">
                                        <div nz-col nzFlex="50px">x <span style="font-size: 20px;">1</span></div>
                                        <div nz-col nzFlex="auto" class="text-start">add on</div>
                                    </div>
                                </div>
                                <div nz-col nzFlex="125px" class="price-tag">59 <span>THB</span></div>
                            </div>
                        </div><button class="group-del"><span nz-icon nzType="delete" nzTheme="fill"></span></button>
                    </div>
                    <div class="button-group-wrapper">
                        <div class="group-content">
                            <div nz-row [nzGutter]="20" style="height: 100%;">
                                <div nz-col nzFlex="90px" style="align-self: center;"><img
                                        src="https://img.freepik.com/premium-photo/cup-coffee-textured-grey-background-lifestyle-photo-with-natural-light-minimalistic-style-with-cup-coffee-milk-foam_4740-5149.jpg?w=2000">
                                </div>
                                <div nz-col nzFlex="auto" class="text-start text-bold" style="align-self: center;">
                                    <div nz-row>
                                        <div nz-col [nzSpan]="24" class="product-name">Coffee</div>
                                    </div>
                                    <div nz-row [nzGutter]="10">
                                        <div nz-col nzFlex="50px">x <span style="font-size: 20px;">1</span></div>
                                        <div nz-col nzFlex="auto" class="text-start">add on</div>
                                    </div>
                                </div>
                                <div nz-col nzFlex="125px" class="price-tag">59 <span>THB</span></div>
                            </div>
                        </div><button class="group-del"><span nz-icon nzType="delete" nzTheme="fill"></span></button>
                    </div>
                    <div class="button-group-wrapper">
                        <div class="group-content">
                            <div nz-row [nzGutter]="20" style="height: 100%;">
                                <div nz-col nzFlex="90px" style="align-self: center;"><img
                                        src="https://img.freepik.com/premium-photo/cup-coffee-textured-grey-background-lifestyle-photo-with-natural-light-minimalistic-style-with-cup-coffee-milk-foam_4740-5149.jpg?w=2000">
                                </div>
                                <div nz-col nzFlex="auto" class="text-start text-bold" style="align-self: center;">
                                    <div nz-row>
                                        <div nz-col [nzSpan]="24" class="product-name">Coffee</div>
                                    </div>
                                    <div nz-row [nzGutter]="10">
                                        <div nz-col nzFlex="50px">x <span style="font-size: 20px;">1</span></div>
                                        <div nz-col nzFlex="auto" class="text-start">add on</div>
                                    </div>
                                </div>
                                <div nz-col nzFlex="125px" class="price-tag">59 <span>THB</span></div>
                            </div>
                        </div><button class="group-del"><span nz-icon nzType="delete" nzTheme="fill"></span></button>
                    </div>
                    <div class="button-group-wrapper">
                        <div class="group-content">
                            <div nz-row [nzGutter]="20" style="height: 100%;">
                                <div nz-col nzFlex="90px" style="align-self: center;"><img
                                        src="https://img.freepik.com/premium-photo/cup-coffee-textured-grey-background-lifestyle-photo-with-natural-light-minimalistic-style-with-cup-coffee-milk-foam_4740-5149.jpg?w=2000">
                                </div>
                                <div nz-col nzFlex="auto" class="text-start text-bold" style="align-self: center;">
                                    <div nz-row>
                                        <div nz-col [nzSpan]="24" class="product-name">Coffee</div>
                                    </div>
                                    <div nz-row [nzGutter]="10">
                                        <div nz-col nzFlex="50px">x <span style="font-size: 20px;">1</span></div>
                                        <div nz-col nzFlex="auto" class="text-start">add on</div>
                                    </div>
                                </div>
                                <div nz-col nzFlex="125px" class="price-tag">59 <span>THB</span></div>
                            </div>
                        </div><button class="group-del"><span nz-icon nzType="delete" nzTheme="fill"></span></button>
                    </div>
                    <div class="button-group-wrapper">
                        <div class="group-content">
                            <div nz-row [nzGutter]="20" style="height: 100%;">
                                <div nz-col nzFlex="90px" style="align-self: center;"><img
                                        src="https://img.freepik.com/premium-photo/cup-coffee-textured-grey-background-lifestyle-photo-with-natural-light-minimalistic-style-with-cup-coffee-milk-foam_4740-5149.jpg?w=2000">
                                </div>
                                <div nz-col nzFlex="auto" class="text-start text-bold" style="align-self: center;">
                                    <div nz-row>
                                        <div nz-col [nzSpan]="24" class="product-name">Coffee</div>
                                    </div>
                                    <div nz-row [nzGutter]="10">
                                        <div nz-col nzFlex="50px">x <span style="font-size: 20px;">1</span></div>
                                        <div nz-col nzFlex="auto" class="text-start">add on</div>
                                    </div>
                                </div>
                                <div nz-col nzFlex="125px" class="price-tag">59 <span>THB</span></div>
                            </div>
                        </div><button class="group-del"><span nz-icon nzType="delete" nzTheme="fill"></span></button>
                    </div>
                </div>
                <div style="margin-top: 30px; padding: 20px;">
                    <div nz-row [nzGutter]="10">
                        <div nz-col [nzSpan]="12" class="text-start text-bold">Total</div>
                        <div nz-col [nzSpan]="12" class="text-end text-bold">2000 THB</div>
                    </div>
                    <h2 class="text-bold" style="margin-top: 30px;">ช่องทางการจ่ายเงิน</h2>
                    <div nz-row [nzGutter]="30" style="margin-top: 10px;">
                        <div nz-col [nzSpan]="12"><button class="payment-button">เงินสด</button></div>
                        <div nz-col [nzSpan]="12"><button class="payment-button">โอน</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>