<div>
    <div nz-row>
        <div nz-col style="padding:40px 30px;width:calc(100% - 450px);">
            <div nz-row>
                <div nz-col [nzSpan]="24">
                    <nz-input-group [nzSuffix]="suffixIconSearch" class="searchbar-style">
                        <input type="text" nz-input placeholder=" ค้นหา Name / Serial / Barcode" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                </div>
            </div>
            <div class="radio-style" style="margin-top: 30px;">
                <nz-radio-group [(ngModel)]="radioValue" nzButtonStyle="solid" nzSize="large">
                    <label nz-radio-button nzValue="A">
                        <img src="../assets/img/coffee-shop.png" style="margin-right: 5px; margin-bottom: 7px;"
                            alt="item" />
                        ทั้งหมด
                    </label>
                    <label nz-radio-button nzValue="B">
                        <img src="../assets/img/cake.png" style="margin-right: 5px;" alt="item" />ของหวาน</label>
                    <label nz-radio-button nzValue="C"><img src="../assets/img/coffee.png"
                            style="margin-right: 5px; margin-bottom: 9px;" alt="item" />กาแฟ</label>
                    <label nz-radio-button nzValue="D"><img src="../assets/img/milkshake.png"
                            style="margin-right: 5px; margin-bottom: 5px;" alt="item" />น้ำหวาน</label>
                    <label nz-radio-button nzValue="F"><img src="../assets/img/product.png"
                            style="margin-right: 10px;margin-bottom: 3px;" alt="item" />สินค้า</label>
                </nz-radio-group>
            </div>
            <div nz-row>
                <div nz-col [nzSpan]="12" [nzLg]="8" [nzXl]="6" *ngFor="let item of list">
                    <div class="card-product"><img
                            src="https://img.freepik.com/premium-psd/cold-coffee-bottle-mockup_1119-1821.jpg"
                            width="100%" alt="item" />
                        <div class="product-name">Coffee cold brew 150ml.</div>
                        <div class="price-tag">฿ 231</div>
                    </div>
                </div>
            </div>
        </div>

        <div nz-col style="width:450px" class="menu-right-wrapper">
            <div style="height: 80px;padding: 10px 20px;">
                <div nz-row [nzGutter]="20" style="height: 100%;">
                    <div nz-col nzFlex="60px" style="align-self: center;">
                        <img src="https://api.lorem.space/image/face?w=150&h=150"
                            className="c-avatar-img profile-xs c-sidebar-brand-full" style="
                            width: 60px;
                            height: 60px;
                            object-fit: contain;
                            border-radius: 82px;" alt="item" />
                    </div>
                    <div nz-col nzFlex="auto" style="align-self: center;">
                        <span class="text-bold kanit" style="font-size: 1.15rem;">โพส นักขาย</span>
                        <br />
                        <span class="text-muted">Cashier</span>
                    </div>
                </div>

            </div>
            <div style="padding:15px;">
                <h2 class="text-bold kanit">รายการอาหาร</h2>
                <div class="order-detail">
                    <div class="button-group-wrapper" *ngFor="let item of list">
                        <div class="group-content">
                            <div nz-row [nzGutter]="20" style="height: 100%;">
                                <div nz-col nzFlex="90px" style="align-self: center;"><img
                                        src="https://img.freepik.com/premium-photo/cup-coffee-textured-grey-background-lifestyle-photo-with-natural-light-minimalistic-style-with-cup-coffee-milk-foam_4740-5149.jpg?w=2000"
                                        alt="item">
                                </div>
                                <div nz-col nzFlex="auto" class="text-start text-bold" style="align-self: center;">
                                    <div nz-row>
                                        <div nz-col [nzSpan]="24" class="product-name">Coffee</div>
                                    </div>
                                    <div nz-row [nzGutter]="10">
                                        <div nz-col nzFlex="50px">x <span style="font-size: 20px;">1</span></div>
                                        <div nz-col nzFlex="auto" class="text-start">add on</div>
                                    </div>
                                </div>
                                <div nz-col nzFlex="125px" class="price-tag">59 <span>THB</span></div>
                            </div>
                        </div><button class="group-del"><span nz-icon nzType="delete" nzTheme="fill" style="color:#ff5a5a;"></span></button>
                    </div>
                </div>
                <div style="margin-top: 30px; padding: 20px;">
                    <div nz-row [nzGutter]="10">
                        <div nz-col [nzSpan]="12" class="text-start text-bold kanit" style="font-size:24px;">Total</div>
                        <div nz-col [nzSpan]="12" class="text-end text-bold" style="font-size:32px;">2000 <span
                                style="font-size:16px;">THB</span></div>
                    </div>
                    <h2 class="text-bold kanit" style="margin-top: 30px;">ช่องทางการจ่ายเงิน</h2>
                    <div nz-row [nzGutter]="30" style="margin-top: 10px;">
                        <div nz-col [nzSpan]="12"><button class="payment-button">เงินสด</button></div>
                        <div nz-col [nzSpan]="12"><button class="payment-button">โอน</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-footer"><button nz-button style="background-color: #ee4646;color: white;border-color:#ee4646"><span nz-icon
                nzType="clear" nzTheme="outline"></span>เคลียร์</button><button nz-button
            nzType="primary"><span nz-icon nzType="pause" nzTheme="outline"></span>พัก</button><button nz-button nzType="primary"><span nz-icon nzType="ordered-list" nzTheme="outline"></span>ดึงออเดอร์</button></div>
</div>