<div class="inner-content">
    <div nz-row>
        <div nz-col [nzSpan]="8">
            <h3 style="margin-bottom:24px; font-size: 24px; font-weight: bold;">สินค้า / บริการ</h3>
        </div>
        <div nz-col [nzSpan]="16">
            <antd-searchbox placeholder=" ค้นหา Name / Serial / Barcode"></antd-searchbox>
        </div>
    </div>
    <div class="radio-style">
        <nz-radio-group [(ngModel)]="categoryType" nzButtonStyle="solid" nzSize="large"
            (ngModelChange)="fetchProduct()">
            <label nz-radio-button nzValue="">
                ทั้งหมด <span>({{ total }})</span>
            </label>
            <label nz-radio-button nzValue="food">อาหาร <span>(9)</span></label>
            <label nz-radio-button nzValue="desert"> ของหวาน <span>(9)</span></label>
            <label nz-radio-button nzValue="beverage">เครื่องดื่ม <span>(9)</span></label>
            <label nz-radio-button nzValue="etc">อื่นๆ <span>(12)</span></label>
        </nz-radio-group>
        <button nz-button nzType="primary" style="height: 40px; border-radius: 10px; margin-right: 10px;"
            (click)="showModal()">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            เพิ่มรายการ
        </button>
    </div>
    <div class="app-content">

        <nz-table style="margin:20px 0px; min-height: 300px;" #basicTable [nzData]="menuList" [nzShowPagination]="false"
            [nzPageSize]="pageLimit">
            <thead>
                <tr>
                    <th [nzAlign]="'center'">รหัสสินค้า</th>
                    <th [nzAlign]="'center'" nzWidth="100px">หมวดหมู่</th>
                    <th>ชื่อสินค้า</th>
                    <th>ราคา</th>
                    <!-- <th [nzAlign]="'center'">สต็อก</th> -->
                    <th [nzAlign]="'center'" nzWidth="100px">จำนวน</th>
                    <th [nzAlign]="'center'">สถานะ</th>
                    <!-- <th>สร้างเมื่อ</th> -->
                    <th>เครื่องมือ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data ;let index = index" style="cursor: pointer;"
                    (click)="editProduct(data)">
                    <td [nzAlign]="'center'">{{ data.product_id }}</td>
                    <td [nzAlign]="'center'">
                        <nz-tag [nzColor]="getTagDetail(data.product_type).color">
                            {{ getTagDetail(data.product_type).title }}</nz-tag>
                    </td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.price.toLocaleString() }}</td>
                    <!-- <td [nzAlign]="'center'">
                        <nz-tag [nzColor]="getTagStockDetail(data.stock).color">
                            {{ getTagStockDetail(data.stock).title }}
                        </nz-tag>
                    </td> -->
                    <td [nzAlign]="'center'">
                        <ng-container *ngIf="data.stock !== false; else zeroAmount">
                            {{ data.amount }}
                        </ng-container>
                        <ng-template #zeroAmount>
                            -
                        </ng-template>
                    </td>
                    <td [nzAlign]="'center'">
                        <nz-tag [nzColor]="'#87d068'">เปิดใช้งาน</nz-tag>
                    </td>
                    <!-- <td>{{ mapDate(data.createdAt) }}</td> -->
                    <td>
                        <!-- <button nz-button
                            style="height: 40px; border-radius: 10px; margin-right: 10px;background-color: #FFC107;"
                            (click)="editProduct(data)">
                            แก้ไขข้อมูล
                        </button> -->
                        <button nz-button
                            style="height: 40px; border-radius: 10px; margin-right: 10px;background-color: #F8F9FA;"
                            (click)="editStock(data, $event)">
                            ปรับสต็อก
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <div style="padding:0px 20px 20px 20px; text-align: right;">
            <nz-pagination [(nzPageIndex)]="page" [nzTotal]="total" [nzSimple]="false" [(nzPageSize)]="pageLimit"
                [nzShowSizeChanger]="true" (nzPageIndexChange)="fetchProduct()"
                (nzPageSizeChange)="onChangePageLimit($event)" [nzShowTotal]="rangeTemplate">
            </nz-pagination>

            <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} of {{ total }} items
            </ng-template>
        </div>

        <nz-modal [(nzVisible)]="isVisible" [nzTitle]="isEdit ? 'แก้ไขสินค้า' : 'เพิ่มสินค้า'"
            (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
            <ng-container *nzModalContent>
                <h4>รหัสสินค้า</h4>
                <input nz-input class="wns-input" placeholder="กรุณากรอกรหัสสินค้า" [ngModel]="productData.product_id"
                    (change)="onChangeData($event)" name="product_id" maxlength="10" minlength="10" />

                <h4 style="margin-top: 8px;">ชื่อสินค้า</h4>
                <input nz-input class="wns-input" placeholder="กรุณากรอกชื่อสินค้า" [ngModel]="productData.name"
                    (change)="onChangeData($event)" name="name" />

                <h4 style="margin-top: 8px;">ราคาสินค้า</h4>
                <input nz-input class="wns-input" placeholder="กรุณากรอกราคาสินค้า" [ngModel]="productData.price"
                    (change)="onChangeData($event)" name="price" type="number" />

                <h4 style="margin-top: 8px;">ประเภท</h4>
                <nz-select [(ngModel)]="productDataType" nzPlaceHolder="เลือกประเภทของสินค้า" style="width: 180px"
                    class="select-style">
                    <nz-option nzValue="food" nzLabel="อาหาร"></nz-option>
                    <nz-option nzValue="desert" nzLabel="ของหวาน"></nz-option>
                    <nz-option nzValue="beverage" nzLabel="เครื่องดื่ม"></nz-option>
                    <nz-option nzValue="etc" nzLabel="อื่นๆ"></nz-option>
                </nz-select>

                <h4 style="margin-top: 8px;">รูปภาพสินค้า</h4>
                <nz-upload class="upload-style" [nzLimit]="1" nzListType="picture" [nzBeforeUpload]="beforeUpload"
                    [(nzFileList)]="fileList">
                    <button nz-button nzType="primary" style="margin-bottom:1rem;" *ngIf="fileList.length === 0">
                        <span nz-icon nzType="upload"></span>
                        อัพโหลด
                    </button>
                </nz-upload>
            </ng-container>
        </nz-modal>

        <nz-modal [(nzVisible)]="isVisibleStockMnm" nzTitle="แก้ไขสต็อก" (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()">
            <ng-container *nzModalContent>
                <h4 style="margin-top: 8px;">จำนวน</h4>
                <input nz-input class="wns-input" placeholder="กรุณากรอกราคาสินค้า" (change)="onChangeData($event)"
                    name="amount" type="number" />

                <h4 style="margin-top: 8px;">ประเภท</h4>
                <nz-select [(ngModel)]="productDataType" nzPlaceHolder="เลือกประเภทของสินค้า" style="width: 180px"
                    class="select-style">
                    <nz-option nzValue="in" nzLabel="นำเข้า"></nz-option>
                    <nz-option nzValue="out" nzLabel="นำออก"></nz-option>
                </nz-select>
            </ng-container>
        </nz-modal>
    </div>
</div>