<div class="inner-content">
    <div nz-row>
        <div nz-col [nzSpan]="8">
            <h3 style="margin-bottom:24px; font-size: 24px; font-weight: bold;">ข้อมูลพนักงาน</h3>
        </div>
        <div nz-col [nzSpan]="16">
            <antd-searchbox placeholder=" ค้นหา รหัสพนักงาน / ชื่อพนักงาน"></antd-searchbox>
        </div>
    </div>

    <div class="app-content">
        <div nz-row style="padding:0px 20px">
            <div nz-col [nzSpan]="8">
                <h3>รายชื่อพนักงาน</h3>
            </div>
            <div nz-col [nzSpan]="16" nzShape="round" style="text-align: right;">
                <button nz-button nzType="primary" style="height: 40px; border-radius: 10px;" (click)="showModal()">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                    เพิ่มข้อมูลพนักงาน
                </button>
            </div>
        </div>

        <nz-table style="margin:20px 0px; " #basicTable [nzData]="dataList" [nzShowPagination]="false"
            [nzLoading]="isLoading" [nzPageSize]="pageLimit">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ชื่อ</th>
                    <th>เพศ</th>
                    <th>อีเมล</th>
                    <th>ที่อยู่</th>
                    <th>โทรศัพท์</th>
                    <th>สร้างเมื่อ</th>
                    <th>เงินเดือน</th>
                    <th [nzAlign]="'center'">เครื่องมือ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data ;let index = index" (click)="editEmployee(data)"
                    style="cursor: pointer;">
                    <td>{{index+1}}</td>
                    <td>{{data.name}} </td>
                    <td> ชาย | หญิง</td>
                    <td>{{data.name}}@whiteNspace.com</td>
                    <td>-</td>
                    <td>{{data.telephone}}</td>
                    <td>{{data.createdAt}}</td>
                    <td>{{data.salary.toLocaleString()}}</td>
                    <td [nzAlign]="'center'" [nzBreakWord]="true">
                        <button nz-button (click)="handleDeleteEmployee($event, data)" nzType="primary" nzDanger>
                            <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <div style="padding:0px 20px 20px 20px; text-align: right;">
            <nz-pagination [(nzPageIndex)]="page" [nzTotal]="total" [nzSimple]="false" [(nzPageSize)]="pageLimit"
                [nzShowSizeChanger]="true" (nzPageIndexChange)="fetchEmployee()"
                (nzPageSizeChange)="onChangePageLimit($event)" [nzShowTotal]="rangeTemplate">
            </nz-pagination>

            <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} of {{ total }} items
            </ng-template>
        </div>

        <nz-modal [(nzVisible)]="isVisible" nzTitle="เพิ่มข้อมูลพนักงาน" (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()" nzMaskClosable="false">
            <ng-container *nzModalContent>
                <h4>ชื่อ-นามสกุล</h4>
                <input nz-input placeholder="กรุณากรอกชื่อผู้ใช้งาน" [ngModel]="employeeData.name"
                    (change)="onChangeData($event)" name="name" />

                <h4 style="margin-top: 8px;">เบอร์โทรศัพท์</h4>
                <input nz-input placeholder=" กรุณากรอกเบอร์โทรศัพท์" [ngModel]="employeeData.telephone"
                    (change)="onChangeData($event)" name="telephone" maxlength="10" minlength="10" />

                <h4 style="margin-top: 8px;">เงินเดือน</h4>
                <input #salaryInputElement nz-input placeholder="กรุณากรอกเงินเดือน" [ngModel]="employeeData.salary"
                    (change)="onChangeData($event)" name="salary" type="number" />
            </ng-container>
        </nz-modal>
    </div>
</div>