<div class="inner-content">
    <div nz-row>
        <div nz-col [nzSpan]="8">
            <h3 style="margin-bottom:24px; font-size: 24px; font-weight: bold;">การเคลื่อนไหวสินค้า</h3>
        </div>
        <div nz-col [nzSpan]="16">
            <antd-searchbox placeholder=" ค้นหา Name / Serial / Barcode"></antd-searchbox>
        </div>
    </div>
    <div class="radio-style">
        <nz-radio-group [(ngModel)]="productType" nzButtonStyle="solid" nzSize="large" (ngModelChange)="fetchStock()">
            <label nz-radio-button nzValue="in"> รายการนำเข้า </label>
            <label nz-radio-button nzValue="out">รายการนำออก </label>
            <label nz-radio-button nzValue="order">ออเดอร์ </label>
        </nz-radio-group>
    </div>
    <div class="app-content">


        <nz-table style="margin:20px 0px; min-height: 300px;" #basicTable [nzData]="stockList"
            [nzShowPagination]="false" [nzPageSize]="pageLimit">
            <thead>
                <tr>
                    <th>วันที่</th>
                    <th>รหัสสินค้า</th>
                    <th>ชื่อสินค้า</th>
                    <th>ชนิด</th>
                    <th>จำนวน</th>
                    <th [nzAlign]="'center'">ผู้ทำรายการ</th>
                    <!-- <th>ราคา</th>
                    <th>สร้างเมื่อ</th>
                    <th [nzAlign]="'center'">หมวดหมู่</th>
                    <th [nzAlign]="'center'">สถานะ</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data ;let index = index" style="cursor: pointer;"
                    (click)="editStock(data)">
                    <td>{{ mapDate(data.createdAt) }}</td>
                    <td>{{ data?.product?.product_id }}</td>
                    <td>{{ data?.product?.name }}</td>
                    <td>
                        <nz-tag [nzColor]="getTagDetail(data.type).color">
                            {{ getTagDetail(data.type).title }}
                        </nz-tag>
                    </td>
                    <td>{{ data?.amount }}</td>

                    <td [nzAlign]="'center'">{{ data?.user_created?.username }}</td>
                    <!-- <td>{{ data.price.toLocaleString() }}</td> -->
                    <!-- <td>{{ mapDate(data.createdAt) }}</td> -->
                    <!-- <td [nzAlign]="'center'">
                    <nz-tag [nzColor]=" getTagDetail(data.product_type).color">
                        {{ getTagDetail(data.product_type).title }}</nz-tag>
                    </td> -->
                    <!-- <td [nzAlign]="'center'">
                    <nz-tag [nzColor]="'#87d068'">เปิดใช้งาน</nz-tag>
                </td> -->
                </tr>
            </tbody>
        </nz-table>
        <div style="padding:0px 20px 20px 20px; text-align: right;">
            <nz-pagination [(nzPageIndex)]="page" [nzTotal]="total" [nzSimple]="false" [(nzPageSize)]="pageLimit"
                [nzShowSizeChanger]="true" (nzPageIndexChange)="fetchStock()"
                (nzPageSizeChange)="onChangePageLimit($event)" [nzShowTotal]="rangeTemplate">
            </nz-pagination>

            <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} จากทั้งหมด {{ total }} รายการ
            </ng-template>
        </div>
    </div>
</div>