.searchbar-style {
  width: 20%;
  height: 40px;
  border-radius: 12px;
  position: absolute;
}

.radio-style {
  .ant-radio-group-large .ant-radio-button-wrapper {
    box-shadow: 2px 2px 2px 1px #f1f1f1;
    height: 40px;
    font-size: 16px;
    line-height: 38px;
    border: 0px;
    margin-right: 10px;
    border-radius: 12px;
    width: 150px;
    text-align: center;
    
  }
  // .ant-radio-group-large .ant-radio-button-wrapper:last-child {
  //   margin-right: 0px !important;
  // }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before,
  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: transparent;
  }
}
