<div class="inner-content">
    <div nz-row>
        <div nz-col [nzSpan]="8">
            <h3 style="margin-bottom:24px; font-size: 24px; font-weight: bold;">สต็อกสินค้า</h3>
        </div>
        <div nz-col [nzSpan]="16">
            <antd-searchbox placeholder=" ค้นหา Name / Serial / Barcode"></antd-searchbox>
        </div>
    </div>
    <button nz-button nzType="primary" style="height: 40px; border-radius: 10px; margin-right: 10px;"
        (click)="showModal()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        เพิ่มสินค้า
    </button>
    <div class="app-content">

        <nz-table style="margin:20px 0px; " #basicTable [nzData]="stockList" [nzShowPagination]="false"
            style="min-height: 300px;" [nzPageSize]="pageLimit">
            <thead>
                <tr>
                    <th>วันที่</th>
                    <th>ชื่อ</th>
                    <th>จำนวน</th>
                    <th>หน่วย</th>
                    <th>เครื่องมือ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data ;let index = index ">
                    <td>{{data.updateat}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.amount}}</td>
                    <td>{{data.unit}}</td>
                    <td>
                        <nz-space>
                            <button nz-button nzType="primary"
                                style="background-color:rgb(234, 171, 54); border-color:rgb(234, 171, 54); margin: 0px 4px"><span
                                    nz-icon nzType="edit" nzTheme="outline"></span>
                            </button>
                            <button nz-button nzType="primary" nzDanger>
                                <span nz-icon nzType="delete" nzTheme="outline"></span>
                            </button>
                        </nz-space>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div style="padding:0px 20px 20px 20px; text-align: right;">
            <nz-pagination [(nzPageIndex)]="page" [nzTotal]="dataCount" [nzSimple]="false" [(nzPageSize)]="pageLimit"
                [nzShowSizeChanger]="true">
            </nz-pagination>
        </div>
        <nz-modal [(nzVisible)]="isVisible" nzTitle="เพิ่มสินค้า">
            <ng-container *nzModalContent>
                <nz-input-group nzCompact>
                    <input type="text" nz-input [ngModel]="stockData.name" style="width: 40%;" placeholder="ชื่อ"  />
                    <input type="text" nz-input [ngModel]="stockData.amount" style="width:20%;" placeholder="จำนวน"  />
                    <nz-select nzPlaceHolder="เลือกหน่วย" [ngModel]="stockData.unit">
                        <nz-option [nzLabel]="'kg'" [nzValue]="'kg'"></nz-option>
                        <nz-option [nzLabel]="'pack'" [nzValue]="'pack'"></nz-option>
                    </nz-select>
                </nz-input-group>
            </ng-container>
        </nz-modal>
    </div>
</div>