<div class="login-container">
    <div class="login-form-container">
        <img src="../assets/img/logo.jpg" alt="decoration" width="100%" height="auto">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="padding: 0px 24px">
            <nz-form-item>
                <nz-form-label [nzRequired]="true">Username</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="username" placeholder="Enter your username">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzRequired]="true">Password</nz-form-label>
                <nz-form-control>
                    <input nz-input type="password" formControlName="password" placeholder="Enter your password">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <!-- <button nz-button nzType="primary" [disabled]="!loginForm.valid">Submit</button> -->
                <button nz-button nzType="primary" style="width: 100%;">Submit</button>
            </nz-form-item>
        </form>
    </div>
</div>