<div class="inner-content">
  <div nz-row>
    <div nz-col [nzSpan]="8">
      <h3 style="margin-bottom: 24px; font-size: 24px; font-weight: bold">
        จ่ายเงินพนักงาน
      </h3>
    </div>
    <div nz-col [nzSpan]="24" [nzMd]="16">
      <nz-range-picker> </nz-range-picker>
    </div>
  </div>

  <div class="app-content">
    <div nz-row style="padding: 0px 20px">
      <div nz-col [nzSpan]="24" nzShape="round" style="text-align: right">
        <nz-space [nzSize]="'small'">
          <button
            *nzSpaceItem
            nz-button
            nzType="primary"
            style="
              height: 40px;
              border-radius: 10px;
              background-color: #04aa6d;
              border-color: #04aa6d;
            "
            (click)="showModal()"
          >
            <span
              nz-icon
              nzType="download"
              nzTheme="outline"
              style="font-size: 16px"
            ></span>
            เพิ่มรายการ
          </button>
        </nz-space>

        <nz-space [nzSize]="'small'">
          <button
            *nzSpaceItem
            nz-button
            nzType="primary"
            style="
              height: 40px;
              border-radius: 10px;
              background-color: #1890ff;
              border-color: #1890ff;
              margin-left: 10px;
            "
          >
            <span nz-icon nzType="export" nzTheme="outline"></span>
            export pdf
          </button>
        </nz-space>

        <nz-select
          style="width: 200px; text-align: left; margin-left: 10px"
          nzPlaceHolder="Select a person"
          class="select-style"
        >
        </nz-select>
      </div>
    </div>

    <div>
      <nz-modal
        [(nzVisible)]="isShowModal"
        nzTitle="เพิ่มรายการจ่ายเงิน"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
      >
        <ng-container *nzModalContent>
          <p>ชื่อ-นามสกุล</p>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a person"
            [(ngModel)]="userSelected"
            class="select-style"
          >
            <nz-option
              *ngFor="let user of userList"
              nzLabel="{{ user.name }}"
              nzValue="{{ user._id }}"
            ></nz-option>
          </nz-select>

          <div *ngIf="userSelected">
            <p style="margin-top: 12px">เลือกวันที่</p>
            <div
              nz-col
              [nzSpan]="24"
              [nzMd]="24"
              style="display: flex; align-items: left"
            >
              <nz-range-picker [(ngModel)]="dateRange" [nzFormat]="dateFormat" (ngModelChange)="onChange($event)">
              </nz-range-picker>
            </div>
          </div>

          <div *ngIf="dateRange[0] && dateRange[1]">
            <div nz-row [nzGutter]="[16, 16]">
              <div nz-col class="gutter-row" nzSpan="12">
                <p style="margin-top: 12px">ชั่วโมงทำงานปกติ</p>
                <input
                  nz-input
                  placeholder=""
                  [(ngModel)]="timeNormal"
                  [disabled]="true"
                  style="height: 40px; border-radius: 12px"
                />
              </div>
              <div nz-col class="gutter-row" nzSpan="12">
                <p style="margin-top: 12px">ชั่วโมงทำงานOT</p>
                <input
                  nz-input
                  placeholder=""
                  [(ngModel)]="timeOt"
                  [disabled]="true"
                  style="height: 40px; border-radius: 12px"
                />
              </div>
            </div>

            <p style="margin-top: 12px">เงินที่ได้ทั้งหมด</p>
            <input
              nz-input
              placeholder=""
              [(ngModel)]="totalMoney"
              [disabled]="true"
              style="height: 40px; border-radius: 12px"
            />
            <nz-select
              nzAllowClear
              nzPlaceHolder="เพิ่ม/ลด"
              [(ngModel)]="selectedValue"
              class="select-style"
              style="width: 100px; margin-top: 16px"
            >
              <nz-option nzLabel="เพิ่ม" nzValue="jack"></nz-option>
              <nz-option nzLabel="ลด" nzValue="lucy"></nz-option>
            </nz-select>
            <span
              ><input
                nz-input
                placeholder="จำนวน"
                [(ngModel)]="numValue"
                style="
                  border-radius: 12px;
                  width: 100%;
                  margin-top: 12px;
                  height: 40px;
                "
            /></span>
            <p style="margin-top: 12px">เงินสุทธิ</p>
            <input
              nz-input
              placeholder=""
              [(ngModel)]="netMoney"
              [disabled]="true"
              style="height: 40px; border-radius: 12px"
            />
            <p style="margin-top: 12px">หมายเหตุ</p>
            <textarea rows="4" nz-input [(ngModel)]="inputValue"></textarea>
          </div>
        </ng-container>
      </nz-modal>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24" style="max-width: calc(100vw - 58px)">
        <nz-table style="margin: 20px 0px; min-height: 300px" #basicTable>
          <thead>
            <tr>
              <th [nzAlign]="'center'">จ่ายวันที่</th>
              <th>ชื่อ</th>
              <th [nzAlign]="'center'">จำนวนเงิน</th>
              <th>ผู้ทำรายการ</th>
              <th>หมายเหตุ</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor: pointer">
              <td [nzAlign]="'center'">01/01/1999</td>
              <td>สมพงศ์ สงกรานต์</td>
              <td>25,000</td>
              <td>admin</td>
              <td>ทำงานตรงเวลา ไม่หักเงินใดๆจากทั้งหมด</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
