<nz-layout class="app-layout">
    <nz-layout>
        <nz-header style="position: sticky; top: 0px">
            <div class="app-header">
                <ul nz-menu nzTheme="dark" nzMode="horizontal">
                    <li nz-menu-item nzMatchRouter nzIcon="user">
                        <a routerLink="/shop">
                            <img src="../../assets/img/logo.jpg" alt="logo"
                                style="border-radius: 7px; height: 30px; margin-right: 10px;">
                            <span class="menu-text" style="font-weight: bold;">White And Space</span>
                        </a>
                    </li>
                    <li nz-menu-item nzMatchRouter *ngIf="isFullAccess">
                        <a routerLink="/dashboard"><span nz-icon nzType="dashboard" nzTheme="fill"></span>
                            <span class="menu-text">แดชบอร์ด</span></a>
                    </li>
                    <li nz-menu-item nzMatchRouter *ngIf="isFullAccess">
                        <a routerLink="/report"> <span nz-icon nzType="pie-chart" nzTheme="fill"></span><span
                                class="menu-text">รายงาน</span>
                        </a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/billing-history">
                            <span nz-icon nzType="file-text" nzTheme="fill"></span>
                            <span class="menu-text">ประวัติขาย</span>
                        </a>
                    </li>

                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/menu"> <span nz-icon nzType="golden" nzTheme="fill"></span><span
                                class="menu-text">สินค้า / บริการ</span>
                        </a>
                    </li>
                    <li nz-menu-item nzMatchRouter *ngIf="isFullAccess">
                        <a routerLink="/stock">
                            <span nz-icon nzType="appstore-add" nzTheme="outline"></span>
                            <span class="menu-text">คลังสินค้า</span>
                        </a>
                    </li>

                    <li nz-menu-item nzMatchRouter *ngIf="isFullAccess">
                        <a routerLink="/user">
                            <span nz-icon nzType="user" nzTheme="outline"></span>
                            <span class="menu-text">ผู้ใช้งาน</span>
                        </a>
                    </li>

                    <!-- <li nz-submenu nzTitle="ADMIN" nzIcon="user" *ngIf="isFullAccess">
                        <ul>
                            <li nz-menu-item nzMatchRouter>
                                <a routerLink="/user">ผู้ใช้งาน</a>
                            </li>
                            <li nz-menu-item nzMatchRouter>
                                <a routerLink="/setting">ตั้งค่าร้าน</a>
                            </li>
                        </ul>
                    </li> -->


                    <li nz-menu-item nzMatchRouter (click)="logout()" style="float: right;">
                        <a>
                            <span nz-icon nzType="logout" nzTheme="outline"></span>
                            <span class="menu-text">ออกจากระบบ</span>
                        </a>
                    </li>

                    <li nz-menu-item nzMatchRouter style="float: right;">
                        <a routerLink="/attendance">
                            <span nz-icon nzType="history" nzTheme="outline"></span>
                            <span class="menu-text">ประวัติเข้างาน</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nz-header>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
        <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
    </nz-layout>


    <div *ngIf="isShowModalCheckIn === true"
        style="background-color : #2c292999 ; position: fixed; width: 100%; height: 100%; z-index: 100;display: flex; justify-content: center; align-items: center; ">
        <div
            style="width: 420px; height: 420px; z-index: 101; border:2px solid #c81150; background-color: white; border-radius: 15px ; display: flex; justify-content: center; flex-direction: column; align-items: center;">
            <img src="https://cdn-icons-png.flaticon.com/512/4318/4318048.png" width="180px" height="180px" />
            <h4 style="margin-top: 20px; margin-bottom: 5px; font-size: 22px; ">กรุณา "เช็คอินเข้างาน" ก่อนใช้งาน</h4>
            <h5 style="margin-bottom: 20px; font-size: 16px; color:#5d5f61 ">(คุณยังไม่ได้เช็คอินเข้างานในวันนี้) </h5>
            <button nz-button nzType="primary"
                style="height: 45px; font-size: 20px; border-radius: 10px; font-weight: bold;"
                (click)="handleCheckIn()">
                Check-In
            </button>
        </div>
    </div>

</nz-layout>