.select-style{
    margin-right: 10px;
    ::ng-deep .ant-select-selector{
        border-radius: 12px !important;
        height: 40px !important;
        align-items: center !important;
    }
  }
.ant-table-tbody>tr.ant-table-row:hover>.td-no-hover {
    background: unset;
}