<div class="inner-content">
    <div nz-row>
        <div nz-col [nzSpan]="24" [nzMd]="8">
            <h3 style="margin-bottom:24px; font-size: 24px; font-weight: bold;">ประวัติการขาย</h3>
        </div>
        <div nz-col [nzSpan]="24" [nzMd]="16">
            <nz-range-picker [(ngModel)]="dateRange" [nzFormat]="dateFormat" (ngModelChange)="fetchBill()">
            </nz-range-picker>
        </div>
    </div>

    <div class="app-content">
        <div nz-row style="padding:0px 20px">
            <h3>รายละเอียดประวัติการขาย</h3>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="24" style="max-width: calc(100vw - 6rem);">

                <nz-table style="margin:20px 0px;" #basicTable nzBordered [nzData]="billList" [nzShowPagination]="false"
                    [nzFrontPagination]="false" [nzLoading]="isLoading" [nzSize]="'middle'"
                    >
                    <thead>
                        <tr>
                            <th id="date" [nzAlign]="'center'">วัน/เดือน/ปี</th>
                            <th id="billId" [nzAlign]="'center'">เลขที่บิล</th>
                            <th id="contribute" [nzAlign]="'center'">ผู้ทำรายการ</th>
                            <th id="empty" nzWidth="30%"></th>
                            <th id="document" [nzAlign]="'right'">รายการ</th>
                            <th id="sum" [nzAlign]="'right'">ยอดรวม</th>
                            <th id="gateway" [nzAlign]="'center'">ชำระโดย</th>
                            <th id="status" nzWidth="5%" [nzAlign]="'center'">สถานะ</th>
                            <th id="cancel" nzWidth="3%"></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let data of basicTable.data ;let index = index">
                        <tr style="background-color: #4479a4;">
                            <td class="td-no-hover" [nzAlign]="'center'"
                                style="color:white ; padding:4px ; font-weight: bold;">
                                {{ mapDate(data.date,'onlyDate')}}</td>
                            <td class="td-no-hover" [nzAlign]="'center'" [colSpan]="24"></td>
                        </tr>
                        <tr *ngFor="let bill of data.bills;" (click)="handleShowBillDetail(bill)"
                            style="cursor: pointer;">
                            <td [nzAlign]="'center'"> {{ mapDate(bill.createdAt , 'onlyTime') }} </td>
                            <td [nzAlign]="'center'"> {{ bill.order_id }}</td>
                            <td [nzAlign]="'center'"> {{ bill?.user_created?.username }} </td>
                            <td></td>
                            <td [nzAlign]="'right'"> {{ bill.amount }} </td>
                            <td [nzAlign]="'right'">{{ bill.price.toLocaleString() }} </td>
                            <td [nzAlign]="'center'">
                                <nz-tag [nzColor]="getPaymentsDetail(bill.payment).color"
                                    style="margin-right:0px ; font-weight: bold;">
                                    {{ getPaymentsDetail(bill.payment).title }}
                                </nz-tag>
                            </td>
                            <td [nzAlign]="'center'">
                                <nz-tag [nzColor]="getStatusDetail(bill.status).color"
                                    style="margin-right:0px; font-weight: bold;">
                                    {{ getStatusDetail(bill.status).title }}
                                </nz-tag>
                            </td>

                            <td [nzAlign]="'center'">
                                <button nz-button nzType="primary" nzDanger (click)="cancelOrder($event,bill._id)"
                                    style="padding:6px; border-radius: 10px; ">
                                    <span nz-icon nzType="stop" nzTheme="outline" style="font-size: 18px;"></span>
                                </button>
                            </td>
                        </tr>
                        <tr style="font-size: 16px; font-weight: 500; background-color:#fbfbfb; ">
                            <td [nzAlign]="'center'" style="padding:6px 14px">รวม</td>
                            <td [nzAlign]="'center'"> จำนวนบิล : {{ data.totalBill.toLocaleString() }} </td>
                            <td></td>
                            <td></td>
                            <td [nzAlign]="'right'" style="padding:6px 14px">{{ data.totalOrder.toLocaleString() }}
                            </td>
                            <td [nzAlign]="'right'" style="padding:6px 14px">{{ data.totalProfit.toLocaleString() }}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>

        <nz-modal [(nzVisible)]="isShow" nzTitle="รายละเอียดบิล" (nzOnCancel)="handleCancel()">
            <ng-container *nzModalContent>

                <nz-table style="margin:20px 0px;" #currentTable nzBordered [nzData]="currentBill.items"
                    [nzShowPagination]="false" [nzFrontPagination]="false" [nzLoading]="isLoading" [nzSize]="'middle'">
                    <thead>
                        <tr>
                            <th id="id" [nzAlign]="'center'">#</th>
                            <th id="name">ชื่อรายการ</th>
                            <th id="checkOut" [nzAlign]="'center'">จำนวน</th>
                            <th id="checkIn" [nzAlign]="'center'">ราคา</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of currentTable.data ;let index = index">
                            <td [nzAlign]="'center'">{{ index+1 }}</td>
                            <td> {{data.product.name}} </td>
                            <td [nzAlign]="'center'">{{ data.amount.toLocaleString() }} </td>
                            <td [nzAlign]="'center'"> {{ data.price.toLocaleString() }} </td>
                        </tr>
                        <tr style="font-size: 16px; font-weight: 500; background-color:#fbfbfb; ">
                            <td [nzAlign]="'center'">รวม</td>
                            <td> </td>
                            <td [nzAlign]="'center'"> {{ currentBill.amount.toLocaleString() }} </td>
                            <td [nzAlign]="'center'">{{ currentBill.price.toLocaleString() }} </td>

                        </tr>
                    </tbody>

                </nz-table>


            </ng-container>
        </nz-modal>
    </div>
</div>