/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "KanitBold";
  src: local("KanitBold"), url(assets/font/Kanit-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Kanit";
  src: local("Kanit"), url(assets/font/Kanit-SemiBold.ttf) format("truetype");
}
body {
  font-family: "Kanit";
}
button:focus-visible {
  outline: none;
}
.kanit {
  font-family: "Kanit";
}
.kanit-bold {
  font-family: "KanitBold";
}
.text-muted {
  color: #6c757d !important;
}
.text-start {
  text-align: start !important;
}
.text-end {
  text-align: end !important;
}
.text-bold {
  font-weight: bold;
}
.baseline {
  align-self: baseline;
}
.inner-content {
  padding: 1.5rem 3rem;
  background: #f8fafc;
  height: 100%;
}

.app-content {
  padding-top: 1.5rem;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  border: 1px solid #f2f4f6;
  min-height: 400px;
}

.ant-picker-range,
.custom-right-picker {
  height: 50px;
  float: right;
  border-radius: 10px !important;
}
.ant-table-content {
  overflow: auto;
}
.input-group-style {
  .ant-input-wrapper {
    height: 45px;
    .ant-input-group-addon {
      width: 45px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    input {
      height: 45px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 100%;
      max-width: 400px;
    }
  }
}

.upload-style button {
  height: 40px;
  border-radius: 5px;
}
.ant-menu-item {
  text-align: center;
}

.wns-input {
  border-radius: 10px !important;
  height: 40px !important;
}

// .ant-tag-purple {
//   border-color: #531dab !important;
// }

// .ant-tag-volcano {
//   border-color: #d4380d !important;
// }

// .ant-tag-magenta {
//   border-color: #c41d7f !important;
// }

// .ant-tag-geekblue {
//   border-color: #1d39c4 !important;
// }

// .ant-tag-green {
//   border-color: #6ec52b !important;
// }

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #1f547e !important;
}

.ant-menu-item:hover {
  background-color: #1f547e !important;
}

.ant-upload-list-item {
  margin-top: -16px !important;
  border-radius: 10px !important;
}
