<div class="inner-content">
  <h3 style="margin-bottom: 24px; font-size: 24px; font-weight: bold">
    Dashboard
  </h3>
  <div nz-row [nzGutter]="[16, 16]">
    <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="18">
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="8">
          <div class="inner-box card-dashboard">
            <div class="card-icon" style="background-color: #fff3b9">
              <span nz-icon nzType="dollar-circle" nzTheme="outline" style="color: #e4ca6e"></span>
            </div>
            <span class="card-title">รายได้วันนี้</span>
            <div class="card-sub-title">
              {{ cardData?.dailyProfit }} ฿
            </div>

            <div class="card-info">
              <span style="font-weight: bold"
                [style]="cardData.compareWithYesterDay < 0 ? 'color: #f46666;': 'color : #04AA6D'">{{cardData?.compareWithYesterDay}}%</span>
              <span style="color: #b0b6bc; font-size: 14px"> *{{ cardData?.compareWithYesterDay > 0 ? 'Looks pretty
                good' : 'Going down' }}*
              </span>
            </div>
          </div>
        </div>

        <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="8">
          <div class="inner-box card-dashboard">
            <div class="card-icon">
              <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
            </div>
            <span class="card-title">จำนวนบิลวันนี้</span>
            <div class="card-sub-title">
              {{ cardData?.dailyBillCount }}
            </div>
          </div>
        </div>

        <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="8">
          <div class="inner-box card-dashboard">
            <div class="card-icon" style="background-color: #f2effb">
              <span nz-icon nzType="lock" nzTheme="outline" style="color: #8e77e1"></span>
            </div>
            <span class="card-title">เงินในลิ้นชัก</span>
            <div class="card-sub-title">
              {{ cardData?.currentCashDrawer }} ฿
            </div>
            <div class="card-info">
              <span style="color: #b0b6bc; font-size: 14px"> เงินเริ่มต้น </span>
              <span style="color: #2375d3; font-weight: bold">{{cardData?.startWithCash }}</span> <button nz-button
                nzType="text" (click)="showModalMoney()"><span nz-icon nzType="edit" nzTheme="fill"
                  style="color:#1890ff;"></span></button>
            </div>
          </div>
        </div>

        <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="24">
          <div class="inner-box card-dashboard" style="min-height: 385px; height: auto; width: auto">
            <span style="color: #0b072f; font-weight: bold; font-size: 18px">Profit Graph</span>
            <div>
              <canvas id="barchart" style="height: 450px; width: auto"></canvas>
            </div>
          </div>
          <div></div>
        </div>

        <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="24">
          <div class="inner-box"
            style="height: 100%;min-height: 385px;border: 1px solid #eceef1;border-radius: 10px;padding: 1.25rem;background-color: #fff;"
          >
            <span style="color: #0b072f; font-weight: bold; font-size: 18px">อันดับสินค้ายอดนิยม</span>
            <nz-table
              #remindTable
              [nzData]="dataList"
              [nzPageSize]="10"
              style="margin-top: 10px"
            >
              <thead>
                <tr>
                  <th id="index" [nzAlign]="'center'">อันดับ</th>
                  <th id="pdName">ชื่อ</th>
                  <th id="priceperamount">ราคาขายต่อชิ้น</th>
                  <th id="amount" [nzAlign]="'center'">ขายแล้ว</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of remindTable.data; let index = index">
                  <td [nzAlign]="'center'">
                    {{ index + 1 + (remindTable.nzPageIndex - 1) * 10 }}
                  </td>
                  <td>{{ data.name }}</td>
                  <td [nzAlign]="'right'">{{ data.price.tolocalString() }}</td>
                  <td [nzAlign]="'center'">{{ data.ranking }}</td>
                </tr>
              </tbody>
            </nz-table>

            <ng-template #emptyComponent>
              <nz-empty></nz-empty>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="6">
      <div class="inner-box card-dashboard" style="min-height: 385px">
        <div class="card-icon">
          <button class="button-m-0" nz-button nzType="text" (click)="showModalGoal()"><span nz-icon nzType="edit"
              nzTheme="fill" style="color:#1890ff;"></span></button>
        </div>
        <span style="color: #0b072f; font-weight: bold; font-size: 18px">Goal</span>
        <div style="  display: flex; justify-content: center; align-items: center; height: 70%;">
          <nz-progress nzType="dashboard" [nzPercent]="cardData.goalProgress" [nzStrokeColor]="{
              '0%': '#8268e0',
              '50%': '#108ee9',
              '100%': '#52b1ff'
            }" [nzStrokeWidth]="7" [nzWidth]="160" [nzGapPosition]="'bottom'">
          </nz-progress>
        </div>
        <nz-divider style="margin: 0px 0px 12px 0px"></nz-divider>
        <div nz-row style="text-align: center">
          <div nz-col [nzXs]="12" style="border-right: 1px solid #f2f2f2; min-height: 50px">
            <span style="color: #9c9fa9; font-weight: 500">ยอดปัจจุบัน</span>
            <h2>{{ cardData?.monthlyProfit }} ฿</h2>
          </div>
          <div nz-col [nzXs]="12" style="min-height: 50px">
            <span style="color: #9c9fa9; font-weight: 500">เป้าหมาย</span>
            <h2>{{ cardData?.targetGoal }} ฿ </h2>
          </div>
        </div>
      </div> {{ cardData.monthly_profit }}
    </div>
  </div>

  <!-- MODAL -->
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="isGoal ? 'ตั้งค่าเป้าหมาย' : 'ตั้งค่าเงินในลิ้นชัก'"
    (nzOnCancel)="handleCloseModal()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <input nz-input class="wns-input" placeholder="กรุณาใส่จำนวนที่ต้องการ" [(ngModel)]="inputValue"
        name="inputValue" />
    </ng-container>
  </nz-modal>
</div>