<div class="inner-content">
    <h3 style="margin-bottom:24px; font-size: 24px; font-weight: bold;">Dashboard</h3>
    <div nz-row [nzGutter]="[16,16]">
        <div nz-col class="gutter-row" [nzXs]="12" [nzMd]="18">
            <div nz-row [nzGutter]="[16,16]">

                <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="8">
                    <div class="inner-box card-dashboard">
                        <div class="card-icon" style="background-color: #fff3b9;">
                            <span nz-icon nzType="dollar-circle" nzTheme="outline" style="color:#e4ca6e"></span>
                        </div>
                        <span class="card-title">Profit Daily</span>
                        <div class="card-sub-title">48,232</div>
                        <div class="card-info">
                            <span style="color:#f46666 ; font-weight: bold;">-0.7%</span>
                            <span style="color:#b0b6bc ; font-size:14px;"> *Going down*</span>
                        </div>
                    </div>
                </div>

                <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="8">
                    <div class="inner-box card-dashboard">
                        <div class="card-icon">
                            <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
                        </div>
                        <span class="card-title">Profit Average</span>
                        <div class="card-sub-title">48,232</div>
                        <div class="card-info">
                            <span style="color:#289fa1 ; font-weight: bold;">+3.7%</span>
                            <span style="color:#b0b6bc ; font-size:14px;"> Looks pretty good</span>
                        </div>
                    </div>
                </div>

                <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="8">
                    <div class="inner-box card-dashboard">
                        <div class="card-icon" style="background-color: #f2effb;">
                            <span nz-icon nzType="history" nzTheme="outline" style="color:#8e77e1"></span>
                        </div>
                        <span class="card-title">Profit Average (7 Days)</span>
                        <div class="card-sub-title">48,232</div>
                        <div class="card-info">
                            <span style="color:#289fa1 ; font-weight: bold;">+3.7%</span>
                            <span style="color:#b0b6bc ; font-size:14px; ;"> Looks pretty good</span>
                        </div>
                    </div>
                </div>

                <div nz-col class="gutter-row" [nzXs]="24">
                    <div class="inner-box card-dashboard" style="min-height: 220px;">
                        <span style="color:#0b072f;font-weight: bold; font-size: 18px;">Balance</span>
                    </div>
                </div>
            </div>

        </div>

        <div nz-col class="gutter-row" [nzXs]="12" [nzMd]="6">
            <div class="inner-box card-dashboard" style="min-height: 385px;">
                <span style="color:#0b072f;font-weight: bold; font-size: 18px;">Statistics</span>
            </div>
        </div>




    </div>


    <div
        style="padding:1.5rem; background-color:#fff; border-radius: 10px; margin-top:20px ; border: 1px solid #f2f4f6">
        <h3 style="margin-bottom: 20px;">สินค้าใกล้หมด</h3>

        <div *ngIf="dataList.length ; else emptyComponent">
            <div nz-row [nzGutter]="[0,24]" *ngFor="let data of dataList">
                <div nz-col class="gutter-row" [nzXs]="24">
                    <div class="ws-card-plain">
                        <div class="item" style="width:150px; color:#e91e63; font-size: 24px;"> <span nz-icon
                                nzType="exclamation-circle" nzTheme="outline"></span></div>
                        <div class="item">{{data.key}}</div>
                        <div class="item">{{data.name}}</div>
                        <div class="item">{{data.prize}} บาท</div>
                        <div class="item">{{data.amount}} หน่วย</div>
                        <div class="item">{{data.type}}</div>
                        <div class="item">
                            <button nz-button nzType="default" style="color:#29f; border-color:#f2f4f6; height: 35px;">
                                แก้ไข
                            </button>
                            <button nz-button nzType="primary" style="height: 35px;">
                                ยืนยัน
                            </button>
                            <!-- <button nz-button nzType="primary"
                            style="background-color:rgb(234, 171, 54); border-color:rgb(234, 171, 54)">
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                        </button>
                        <button nz-button nzType="primary" nzDanger>
                            <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </button> -->
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <ng-template #emptyComponent>
            <nz-empty></nz-empty>
        </ng-template>



        <!-- <nz-table #basicTable [nzData]="dataList">
            <thead>
                <tr>
                    <th>รหัสวัตถุดิบ</th>
                    <th>ชื่อ</th>
                    <th>ราคา</th>
                    <th>จำนวนที่เหลือ</th>
                    <th>ประเภท</th>
                    <th>เครื่องมือ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{data.key}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.prize}}</td>
                    <td>{{data.amount}}</td>
                    <td>{{data.type}}</td>
                    <td>
                        <button nz-button nzType="primary">
                            <span nz-icon nzType="eye" nzTheme="outline"></span>
                        </button>
                        <button nz-button nzType="primary"
                            style="background-color:rgb(234, 171, 54); border-color:rgb(234, 171, 54)"><span nz-icon
                                nzType="edit" nzTheme="outline"></span>
                        </button>
                        <button nz-button nzType="primary" nzDanger>
                            <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table> -->
    </div>
</div>